body
  color: $clr-text
  font-family: $font-default
  font-weight: $font-default-weight
  font-size: $font-default-size
  min-height: 100vh
  position: relative

html
  scroll-behavior: smooth
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }

p
  margin-top: 0
  margin-bottom: 1rem

svg
  display: block