//  -
//  Colors Company
//  --------------------------------------------------------------------------

$clr-primary        = #FA9FB0
$clr-primary2       = #e9a1b9

$clr-primary-dark   = #f6959c
$clr-primary-dark2  = #f38392
$clr-primary-dark3  = #ef5e78
$clr-primary-dark4  = #e44f9d

$clr-secondary      = #70E0E9
$clr-secondary-dark = #70E0E9


//  Colors Docs
//  --------------------------------------------------------------------------

$clr-title      = #fff
$clr-subtitle   = #5d5d5d
$clr-text       = #292845
$clr-bg         = #292845 // #181728
$clr-link       = $clr-secondary


//  Colors Actions
//  --------------------------------------------------------------------------

$clr-error   = #cb5234
$clr-info    = #3aa3e3
$clr-success = #2ab27b
$clr-warning = #edb431
