.u-border-no
  border: none

.u-bdrr-no
  border-radius: none

.u-bdr-b0
  border-bottom-left-radius: 0 !important
  border-bottom-right-radius: 0 !important

.u-bdr-t0
  border-top-left-radius: 0 !important
  border-top-right-radius: 0 !important

.u-bdr-l0
  border-bottom-left-radius: 0 !important
  border-top-left-radius: 0 !important

.u-bdr-r0
  border-bottom-right-radius: 0 !important
  border-top-right-radius: 0 !important
