.u-flex
  display: flex

.u-flex-wrap
  flex-wrap: wrap

.u-flex-column
  display: flex
  flex-direction: column

.u-flex-between
  display: flex
  justify-content: space-between

.u-flex-column-center
  display: flex
  align-items: center
  flex-direction: column
  justify-content: center

.u-flex-row-center
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center