//  Variables
//  ==========================================================================


//  Colors
//  --------------------------------------------------------------------------

// main color of the company such as the isotype, logo, etc.
$color-company      = #00CD6B
// colour of text and main colour overall
$color-primary      = #c2d4f8
// colour of any components, backgrounds, etc.
$color-secondary    = #1E1D32
// special colour to complement secondary colour
$color-tertiary     = #fff

$color-title        = $color-tertiary
$color-text         = $color-primary
$color-link         = $color-company
$color-bg-primary   = $color-secondary // normal
$color-bg-secondary = #292845 // claro
$color-bg-tertiary  = #181728 // oscuro



//  Base
//  --------------------------------------------------------------------------

// Typography
$font-title = 'Dosis', sans-serif //600;700;800
$font-text = 'Quicksand', sans-serif //400;500

$base-font-family = 'Roboto', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif
$base-font-size   = 16px
$base-line-height = 1.6

// Border
$base-border-width  = 1px
$base-border-style  = solid
$base-border-color  = $color-tertiary
$base-border-radius = 10px
$base-border        = $base-border-width $base-border-style $base-border-color

// Animations
$base-duration = 0.5s
$base-timing   = ease