.u-border {
  border: $base-border 
}
.u-br {
  border-radius: $base-border-radius
}
.u-br-b0 {
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
.u-br-t0 {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.u-br-l0 {
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}
.u-br-r0 {
  border-bottom-right-radius: 0 !important;
  border-top-right-radius: 0 !important;
}