.u-color1
  color: $color-primary
.u-color2
  color: $color-secondary
.u-color3
  color: $color-tertiary

.u-color-title
  color: $color-title
.u-color-text
  color: $color-text
.u-color-link
  color: $color-link

.u-bg1
  background-color: $color-bg-primary
.u-bg2
  background-color: $color-bg-secondary
.u-bg3
  background-color: $color-bg-tertiary
