// -
// # Variables
// ------------------------------------

  @import '1_variables/colors-base.styl'
  @import '1_variables/colors-project.styl'
  @import '1_variables/media-queries.styl'
  @import '1_variables/typography.styl'



// # Tools (Functions, mixins etc)
// ------------------------------------

  // @import '2_tools/functions/main.styl'
  // @import '2_tools/mixins/main.styl'
  // @import '2_tools/placeholders/main.styl'



// # DOM (Reset html)
// ------------------------------------

  @import '3_dom/a.styl'
  @import '3_dom/button.styl'
  @import '3_dom/document.styl'
  @import '3_dom/titles.styl'



// #Objects (Layouts)
// ------------------------------------

  // @import '4_objects/main.styl'



// #Utilities (Class simple)
// ------------------------------------

  @import '5_utilities/border-radius.styl'
  @import '5_utilities/flex.styl'
  @import '5_utilities/margin.styl'
  @import '5_utilities/padding.styl'
  @import '5_utilities/scroll-light.styl'



  // icomoon config
  // @import '~fonts/icons/style.scss';
  // transfonter.org config
  // @import '~fonts/base/stylesheet.css';
