/*------------------------------------*\
  #Settings (Variables)
\*------------------------------------*/

  // @import '1-settings/main.styl'
  @import '1-settings/_colors.styl'
  @import '1-settings/_media-queries.styl'
  @import '1-settings/_typography.styl'
  @import '1-settings/_variables.styl'





/*------------------------------------*\
  #Tools (Functions, mixins etc)
\*------------------------------------*/

  // @import '2-tools/functions/main.styl'
  // @import '2-tools/mixins/main.styl'
  // @import '2-tools/placeholders/main.styl'





/*------------------------------------*\
  #Generic (Reset html)
\*------------------------------------*/

  // @import "3-generic/main.styl";




/*------------------------------------*\
  #Elements (Tags html)
\*------------------------------------*/

  // @import "4-elements/main.styl";
  // @import "4-elements/_button.styl"
  @import "4-elements/_a.styl"
  @import "4-elements/_document.styl"
  @import "4-elements/_titles.styl"





/*------------------------------------*\
  #Objects (Layouts)
\*------------------------------------*/

  // @import "5-objects/main.styl"




/*------------------------------------*\
  #Components (Block-element-modifier)
\*------------------------------------*/

  // @import "6-components/main.styl"





/*------------------------------------*\
  #Utilities (Class simple)
\*------------------------------------*/

  // @import "7-utilities/main.styl"
  @import '7-utilities/_between.styl'
  @import '7-utilities/_border-radius.styl'
  @import '7-utilities/_colors.styl'
  @import '7-utilities/_flex.styl'
  @import '7-utilities/_margin.styl'
  @import '7-utilities/_padding.styl'
  @import '7-utilities/_scroll-light.styl'





  // icomoon config
  // @import "~fonts/icons/style.scss";
  // transfonter.org config
  // @import "~fonts/base/stylesheet.css";
